:root {
  --cal-primary-color: #1E2B37;
  --cal-secondary-color: #76828E;
  --cal-event-color: #58bae4;
  --cal-current-day-color: #f7e9cf;
  --cal-gray: #5c5656;
  --cal-black: #000;
  --cal-white: #fff;
  --cal-lightGray: #CBD4C2;
  --cal-radius-sm: 5px;
}
.cal-button, .viewToggleButton.active {
  background-color: var(--cal-primary-color);
}
.cal-button, .dateCell, .event {
  cursor: pointer;
}
.cal-button {
  width: 4.5rem;
  border: none;
  outline: 0;
  padding: 5px;
  border-radius: var(--cal-radius-sm);
  color: var(--cal-white);
}
.calendar, .dateRow, .hourRow, .viewTable {
  width: 100%}
  .calendar {
    max-height: 90vh;
    overflow-y: auto;
  font-size: 1rem;
}
.calendarHeader {
  padding: .625rem;
  color: var(--cal-black);
  font-size: 1.5rem;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
.dateCell, .dateRow, .hourRow, .monthTable, .navButtonsContainer, .tableHeadings {
  display: flex;
}
.view.active {
  display: block;
}
.shortWeekdaysRow, .view {
  display: none;
}
.tableHeadings th {
  flex: 1;
  color: var(--cal-gray);
  padding: .625rem;
}
.monthTable {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}
.viewToggleButtonsContainer {
  display: flex;
  justify-content: center;
}
.viewToggleButton {
  background-color: var(--cal-secondary-color);
  color: var(--cal-black);
}
.viewToggleButton.active {
  color: var(--cal-white);
}
.navButton:first-child, .viewToggleButton:first-child {
  border-radius: var(--cal-radius-sm) 0 0 var(--cal-radius-sm);
}
.viewToggleButton:nth-child(2) {
  border-radius: 0;
}
.navButton:nth-child(2), .viewToggleButton:nth-child(3) {
  border-radius: 0 var(--cal-radius-sm) var(--cal-radius-sm) 0;
}
.dateRow {
  justify-content: space-between;
}
.dateCell, .hourCell {
  box-shadow: 0 0 3px var(--cal-lightGray);
}
.dateCell {
  padding: .625rem;
  aspect-ratio: 1/1;
  flex: 1;
  box-sizing: border-box;
  background-color: var(--cal-white);
  margin: 5px;
  flex-direction: column;
  gap: 1px;
  overflow: auto;
}
.dateCell:hover {
  background-color: #e8faed;
}
.dateCell.currentDay {
  background-color: var(--cal-current-day-color);
}
.hourCell {
  flex: 1;
  padding: .625rem;
}
@media screen and (max-width:768px) {
  .shortWeekdaysRow {
  display: flex;
}
.longWeekdaysRow {
  display: none;
}
}.event {
  font-size: .625rem;
  padding: 3px;
  background-color: var(--cal-event-color);
  color: var(--cal-white);
  border-radius: 5px;
  max-height: 3.5rem;
  overflow: hidden;
}